.row
{
  max-width: 1140px;
  margin: 20px;
}

header{background-image: linear-gradient(rgba(117, 127, 154, 1),rgba(215, 221, 232, 0)), url(img/background.png); /* Ajout background et filtre */
  background: -webkit-linear-gradient(to right, #89216b, #F8EFBA); /* Chrome 10-25, Safari 5.1-6 */
  background-size: auto;
  background-position: cover;
  height: 100vh;
}
/*code page index*/
.message-de-bienvenue{
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%,-50%)
  width: 1140px;
  font-family: sans-serif;
}
.message-de-bienvenue{

}



/********************************* boutons du site *********************************/
.btn:hover
{
  border:3px,10px;
}

.btn
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  background-color: rgba(235, 87, 87, 1);
  background-color: rgba(0, 0, 0, 0.60);
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-weight: 200;
}

.btn-full
{
  background-color: blue;
}
.btn-ghost
{
  color: red;
}

.btn-gohst:hover{
background-color: blue;
}

.logo{
position: absolute;
top: 10%;
left: 5%;
transform: translate(-50%,-50%);
height: 100px;
float:left;
}

.main-nav{
float: right;
list-style: none;
margin-top: 250px;
}

.main-nav li
{
  display: inline-block;
margin-left: 75px;
}

.main-nav li a
{
text-decoration: none;
color: #fff;
font-size: 300;
 }

/********************** Positionement titre, paragraphe et images shonen **************************/
.titre-h1-shonen
{
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%); 
font-size: 40px;
}


.titre-p1
{
  position: absolute;
  top: 60%;
  left: 50%;
  transform:translate(-50%, -50%);
font-size:
}

.paragraphe-1
{
  position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 120%;
background-color: #fff;
padding: 20px 20px;
padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 8px;
font-weight: 200;

}

.logo-interogation
{
position: absolute;
top: 70%;
left: 62%;
transform: translate(-50%, -50%);
}

.logo-interogation-2
{
position: absolute;
top: 69%;
left: 37%;
transform: translate(-50%, -50%);
}
